<div class="card">
       <div class="card-header" data-background-color="blue">
           <h4 class="title">New Item</h4>
       </div>
       <div class="card-content">
           <form>
             <div class="row">
               <div class="col-md-2">
                  <div class="form-group form-black">
                  <label>
                      Item Type
                  </label>
                </div>
               </div>
               <div class="col-md-10">
                  <div class="form-group form-black radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                     Product
                  </label>
                  <label class="ml20">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                     Service
                  </label>
                </div>
               </div>
             </div>
			         <div class="row">
                   <div class="col-md-12">
                       <div class="form-group form-black label-floating is-empty">
                           <label class="control-label">Item Name</label>
                           <input type="text" class="form-control">
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4">
                       <div class="form-group form-black label-floating is-empty">
                           <label class="control-label">SKU</label>
                           <input type="text" class="form-control" >
                       </div>
                   </div>
                   <div class="col-md-4">
                     <div class="form-group form-black label-floating">
                         <label class="control-label">Unit</label>
                         <select class="form-control">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                         </select>
                       </div>
                   </div>
                   <div class="col-md-4">
                   		<div class="form-group form-black radio">
        					    <label>
        					      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        					       Taxable
        					    </label>
        					    <label>
        					      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        					       Non Taxable
        					    </label>
        					  </div>
                   </div>
               </div>
				      <div class="row">
                   <div class="col-md-6">
                     <div class="form-group form-black label-floating">
                         <label class="control-label">Manufacturer</label>
                         <select class="form-control">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                         </select>
                       </div>
                   </div>
                   <div class="col-md-6">
                     <div class="form-group form-black label-floating">
                         <label class="control-label">Brand</label>
                         <select class="form-control">
                           <option>1</option>
                           <option>2</option>
                           <option>3</option>
                           <option>4</option>
                           <option>5</option>
                         </select>
                       </div>
                   </div>
               </div>
               <div class="row">

                  <div class="col-md-6">
                    <div class="card">
                           <div class="card-header" data-background-color="blue">
                               <h4 class="title">Sales Information</h4>
                           </div>
                           <div class="card-content">
                    <div class="row">
                       <div class="col-md-12">
                         <div class="form-group form-black label-floating is-empty">
                             <label class="control-label">Selling Price</label>
                             <input type="text" class="form-control">
                         </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-12">
                         <div class="form-group form-black label-floating">
                             <label class="control-label">Account</label>
                             <select class="form-control">
                               <option>1</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                               <option>5</option>
                             </select>
                           </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-black label-floating is-empty">
                           	    <label class="control-label">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
                  <div class="col-md-6">
                    <div class="card">
                           <div class="card-header" data-background-color="blue">
                               <h4 class="title">Purchase Information</h4>
                           </div>
                           <div class="card-content">
                    <div class="row">
                       <div class="col-md-12">
                         <div class="form-group form-black label-floating is-empty">
                             <label class="control-label">Purchase Price</label>
                             <input type="text" class="form-control">
                         </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-md-12">
                         <div class="form-group form-black label-floating">
                             <label class="control-label">Account</label>
                             <select class="form-control">
                               <option>1</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                               <option>5</option>
                             </select>
                           </div>
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-black label-floating is-empty">
                                <label class="control-label">Description</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="col-md-12">
                         <div class="form-group form-black label-floating">
                             <label class="control-label">Preferred Vendor</label>
                             <select class="form-control">
                               <option>1</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                               <option>5</option>
                             </select>
                           </div>
                       </div>
                    </div>
                  </div></div>
                  </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                     <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Tax Rates</h4>
                            </div>
                            <div class="card-content">
                             <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Intra State Tax Rate</label>
                                      <input type="text" class="form-control">
                                  </div>
                                </div>
                             </div>
                             <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Inter State Tax Rate</label>
                                      <input type="text" class="form-control">
                                  </div>
                                </div>
                             </div>
                           </div>
                      </div>
                   </div>
               </div>
               <button type="submit" class="btn btn-danger pull-right">Save Item</button>
               <button type="button" class="btn pull-right" (click)="closeCreate()">Back</button>
               <div class="clearfix"></div>
           </form>
       </div>
   </div>
